body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-image: url('../img/background2.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: blacks;
    position: relative;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(175, 227, 233, 0.5); 
    z-index: -1;  
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

nav a:hover {
    color: #f4f4f4;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


.clock {
    width: 200px;
    height: 200px;
    border: 5px solid #333;
    border-radius: 50%;
    position: relative;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: 50% 100%;
    transform: rotate(90deg);
    z-index: 1;
}

.hour {
    width: 6px;
    height: 50px;
    background: #000;
}

.minute {
    width: 5px;
    height: 70px;
    background: #666;
}

.second {
    width: 2px;
    height: 90px;
    background: #f00;
}

.clock-center {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;
}

.hour, .minute, .second {
    
    transform-origin: 50% 100%;
    transform: rotate(-90deg);
}





.intro-section {
    background-color: transparent;
    padding: 50px;
    padding-top: 30px;
    text-align: center; 
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(206, 94, 94, 0.1);
    max-width: 800px; 
    margin: 20px auto;
}

.intro-section h1 {
    font-size: 3.5em;
    margin-bottom: 20px; 
}

.intro-section p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

/*weather submit button*/
button[type="submit"] {
    margin-left: 180px;  
}

#user-details {
    margin: 20px 0;
}

table {
    width: 300px;
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

/*Display the weather after the user submit*/
#weather-info {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#weather-info h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
